<div class="home__container">
  <app-card
    gameCover="assets/re2.webp"
    gameLabel="DIGITAL"
    gamePrice="R$ 200,00"
    gameType="PS4 | PS5"
  ></app-card>
  <app-card
    gameCover="assets/re3.webp"
    gameLabel="DIGITAL"
    gamePrice="R$ 150,00"
    gameType="PS4 | PS5"
  ></app-card>
  <app-card
    gameCover="assets/re4.png"
    gameLabel="DIGITAL"
    gamePrice="R$ 250,00"
    gameType="PS4 | PS5"
  ></app-card>
  <app-card
    gameCover="assets/dead-space.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 350,00"
    gameType="PS5"
  ></app-card>
</div>
